.tab-nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.5rem;
	padding: 0.5rem 1rem;
}

.tab {
	cursor: pointer;
	background-color: #676f5441;
	padding: 4px 8px;
	border-radius: 4px;
	font-weight: 500;
	transition: background-color 0.5s;
}

.tab:hover {
	background-color: #98372881;
}

.tab.active-tab {
	background-color: #98372881;
}