:root {
	--cv-container-width: 90%;
}

.interactive-cv {
	width: var(--cv-container-width);
	box-sizing: border-box;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
}

.interactive-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.tab-nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 0.5rem 1rem;
}

.tabs-box {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 8px;
}

.tab {
	cursor: pointer;
	background-color: #676f5441;
	padding: 4px 8px;
	border-radius: 4px;
	font-weight: 500;
	transition: background-color 0.5s;
}

.tab:hover {
	background-color: #98372881;
}

.tab.active-tab {
	background-color: #98372881;
}

.scroll-expand {
	animation: scrollOpen 0.4s ease forwards;
	transform-origin: top;
}

.scroll-collapse {
	animation: scrollClose 0.4s ease forwards;
	transform-origin: top;
}


.selection-warning {
	margin-top: 20px;
	font-style: italic;
	font-weight: 200;
}

.checkbox {
	display: flex;
	align-items: center;
	gap: 8px;
	padding: 4px 8px;
	margin: 4px 0;
	border-radius: 4px;
	cursor: pointer;
	background-color: #676f5441;
	transition: background-color 0.3s ease;
}

.checkbox:hover {
	background-color: #98372881;
}

.checkbox input[type="checkbox"] {
	accent-color: #983728;
	width: 16px;
	height: 16px;
}

@media (min-width: 481px) {
	.toggle-mode-button {
		font-size: 1.1rem;
	}
	.checkbox {
		font-size: 1.1rem;
	}
}

@keyframes scrollOpen {
	0% {
		opacity: 0;
		transform: scaleY(0);
	}
	100% {
		opacity: 1;
		transform: scaleY(1);
	}
} /* ← quita el punto y coma */

@keyframes scrollClose {
	0% {
		opacity: 1;
		transform: scaleY(1);
	}
	100% {
		opacity: 0;
		transform: scaleY(0);
	}
}
