.interactive-cv {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.interactive-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.tab-nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.5rem;
	padding: 0.5rem 1rem;
}

.tab {
	cursor: pointer;
	background-color: #676f5441;
	padding: 4px 8px;
	border-radius: 4px;
	font-weight: 500;
	transition: background-color 0.5s;
}

.tab:hover {
	background-color: #98372881;
}

.tab.active-tab {
	background-color: #98372881;
}

.scroll-expand {
	animation: scrollOpen 0.4s ease forwards;
	transform-origin: top;
}

.scroll-collapse {
	animation: scrollClose 0.4s ease forwards;
	transform-origin: top;
}

@keyframes scrollOpen {
	0% {
		opacity: 0;
		transform: scaleY(0);
	}
	100% {
		opacity: 1;
		transform: scaleY(1);
	}
} /* ← quita el punto y coma */

@keyframes scrollClose {
	0% {
		opacity: 1;
		transform: scaleY(1);
	}
	100% {
		opacity: 0;
		transform: scaleY(0);
	}
}

