.technologies-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.technology {
    width: 100%;
    display: flex;
    gap: 4px;
}

.technology-logo {
    width: 20px;
}

.technology-logo img {
    width: 100%;
}