.language-list {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 12px;
}

.language-title {
	display: flex;
	align-items: center;
	gap: 12px;
}

.language-level span {
	font-weight: 600;
}

.language-flag {
	width: 24px;
	margin-top: 6px;
}

.language-flag img {
	width: 100%;
}

@media (min-width: 481px) {
	.language-list {
		flex-direction: row;
		gap: 60px;
	}
}
