.dev-languages-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.dev-language {
    width: 100%;
    display: flex;
    gap: 4px;
}

.dev-language-logo {
    width: 20px;
}

.dev-language-logo img {
    width: 100%;
}