.dev-language {
	width: 100%;
	display: flex;
	gap: 4px;
}

.dev-language-logo {
	width: 20px;
}

.dev-language-logo img {
	width: 100%;
}

.dev-language-level span {
	font-weight: 500;
}

@media (min-width: 481px) {
	.skill-item {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.dev-language {
		gap: 20px;
	}

	.dev-language h4 {
		font-size: 2rem;
	}

	.dev-language-logo {
		height: 40px;
		width: 40px;
	}
}
