.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.header-image {
    width: 200px;
    align-self: center;
    
}

.header-image img {
    width: 100%;
    border-radius: 100px;
}

.header-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 0;
    gap: 12px;
}

.info-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}