.skill-list {
	width: 100%;
}

@media (min-width: 481px) {
	.skill-item {
		min-width: 260px;
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	.skill-list ul {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
	}
}
