:root {
	--section-width: 90%;
}

.section {
	width: var(--section-width);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.separator {
	height: 2px;
	width: 100%;
	background-color: currentColor;
	margin: 20px 0;
	opacity: 0.4; /* opcional: hace el separador más sutil */
}

.items-list {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

@media (min-width: 481px) {
	:root {
		--section-width: 85%;
	}

	.separator {
		margin: 40px 0;
	}

	.items-list {
		gap: 40px;
	}
}

@media print {
	.separator {
		margin: 20px 0;
	}
}