.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section h2 {
    text-decoration: underline;
    align-self: flex-start;
}


.separator {
  height: 2px;
  background-color: #000000;
  margin: 20px 0;
  width: 90%;
}